
body.masthead {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjust this property to control how the background image scales */
    background-attachment: fixed;
}

body.input_result {
    background-image: url("/static/images/background2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjust this property to control how the background image scales */
    background-attachment: fixed;
}

body.landing_page {
    background-image: url("/static/images/landing_page.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjust this property to control how the background image scales */
    background-attachment: fixed;
}

body.login_bg {
    background-image: url("/static/images/landing_page.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjust this property to control how the background image scales */
    background-attachment: fixed;
}

body.antenatal_bg {
    background-image: url("/static/images/antenatal.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjust this property to control how the background image scales */
    background-attachment: fixed;
}

body.print_bg {
    background-image: url("/static/images/black_baby_216852618.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjust this property to control how the background image scales */
    background-attachment: fixed;
}

body.gradient_bg {
    background-image: linear-gradient(to bottom right, #D63384, #F35037); /* Replace the colors as needed */
    /* You can adjust the direction and colors of the gradient */
}

.gradient_print {
    background-image: linear-gradient(to bottom right, rgba(8, 121, 144, 0.7), rgba(10, 162, 192, 0.7));
}

.topnavbar {
	background:#055160;
}


.bottomnavbar {
	background:#087990;
}
.tablenavbar {
	background:#0AA2C0;
}
.btn-dashboard {
	background:#087990;
}
.text-color-background {
	background-color: white;
	color: #055160;
}
.custom-text-color-background {
	background: white;
	color: #087990;
}

