{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Lab Requests Dashboard</title>

    <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">
    <script src="{% static 'datatables/datatables.min.js' %}"></script>
    <link rel="icon" href="{% static 'newborn/lab_dashboard.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<style>
    #clockbox {
        background-color: #f8f9fa;
        border: 1px solid #d1d3e2;
        padding: 10px;
        font-size: 18px;
	color: black;
        height: 40px; /* Adjust the height as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }
</style>
</head>
<body>
<nav class="navbar topnavbar text-white navbar-expand-lg text-center">
    <div class="container">
        <ul class="nav navbar-nav navbar-center">
            <li>
                <h3>
                    Lab Requests Dashboard
                </h3>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div class="white-box">
                <div id="clockbox"></div>
            </div>
        </ul>
    </div>
</nav>
<!-- Second Navbar -->
<nav class="navbar bottomnavbar navbar-expand-lg text-white navbar-light">
    <div class="container">
        <ul class="navbar-nav">
	    <li>
                <h4>Neonates with Pending Lab Results</h4>
	    </li>
        </ul>
          
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <strong><span class="nav-link text-white">{{ user.username }}</span></strong>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">
    			{% bs_icon 'box-arrow-right' size='1.5em' color='orange' %}Logout
		    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>

<div class="container-fluid">
    <div class="table-responsive mt-3" id="dashboard_table">
        <table class="table table-striped" id="dataTable">
            <thead>
            <tr>
                <th>Date Requested</th>
                <th>Name</th>
                <th>Pk</th>
                <th>Sex</th>
                <th>Age (Days)</th>
                <th>Time Elapsed</th>
                <th>No. of Tests</th>
                <th>Add Results</th>
            </tr>
            </thead>

            <tbody>
            {% for neonate in neonates_with_pending_results %}
                <tr>
                    <td>{{ neonate.labrequest.timestamp|date:"Y-m-d H:i" }}</td>
                    <td>{{ neonate.name }}</td>
                    <td>{{ neonate.pk }}</td>
                    <td>{{ neonate.sex }}</td>
                    <td>{{ neonate.age_days }}</td>
                    <td><span class="time-elapsed" data-seconds="{{ neonate.time_elapsed }}"></span></td>
                    <td>{{ neonate.num_tests_requested }}</td>
                    <td>
                        <a href="{% url 'pending-lab-tests' neonate_pk=neonate.pk lab_request_pk=neonate.labrequest.pk %}" class="btn btn-primary">Input Results</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Local JavaScript libraries -->
<script src="https://192.168.0.58/js/jquery.js"></script>
<script src="https://192.168.0.58/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://192.168.0.58/datatables/datatables.min.js"></script>
<script type="text/javascript">
    // Set ajax callbacks
    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });
</script>

<script>
    function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();

        var months = [
            "January", "February", "March", "April",
            "May", "June", "July", "August", "September",
            "October", "November", "December"
        ];
        
        var day = now.getDate();
        var month = months[now.getMonth()];
        var year = now.getFullYear();

        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        var dateString = month + " " + day + ", " + year;
        var timeString = hours + ":" + minutes + ":" + seconds;
        
        var clockbox = document.getElementById("clockbox");
        if (clockbox) {
            clockbox.textContent = dateString + " | " + timeString;
        }
        
    }

    // Call the updateClock function initially
    updateClock();

    // Update the clock every second
    setInterval(updateClock, 1000);
</script>


<script>
    $(document).ready(function() {
        // Define the DataTable
        var dataTable = $('#dataTable').DataTable({
            lengthChange: false, // Disable show entries options
            paging: false, // Disable paging options
            info: false // Disable information about the number of entries
        });

        // Flag to determine if user has started searching
        var hasStartedSearching = false;

        // Handle search button click
        $('#nameSearchButton').click(function() {
            var searchValue = $('#nameSearchInput').val();
            dataTable.search(searchValue).draw();
            hasStartedSearching = true; // Set the flag to true
        });

        // Handle pressing Enter key in the search input
        $('#nameSearchInput').keypress(function(e) {
            if (e.which == 13) { // Enter key
                e.preventDefault();
                var searchValue = $('#nameSearchInput').val();
                dataTable.search(searchValue).draw();
                hasStartedSearching = true; // Set the flag to true
            }
        });

        // Check if the user has started searching before auto-searching
        $('#nameSearchInput').on('input', function() {
            if (hasStartedSearching) {
                var searchValue = $('#nameSearchInput').val();
                dataTable.search(searchValue).draw();
            }
        });
    });
</script>

<script>
    // Function to update the color based on time elapsed
    function updateColorBasedOnTimeElapsed() {
        $('.time-elapsed').each(function() {
            var seconds = parseInt($(this).data('seconds'));
            
            if (!isNaN(seconds)) {
                var minutes = Math.floor(seconds / 60);
                
                // Update color based on time threshold
                if (minutes < 15) {
                    $(this).css('color', 'green'); // Less than 15 minutes (Green)
                } else if (minutes >= 15 && minutes < 30) {
                    $(this).css('color', 'orange'); // Between 15 and 30 minutes (Yellow)
                } else {
                    $(this).css('color', 'red'); // More than 30 minutes (Red)
                }
                
                // Update the displayed time since
                $(this).text(minutes + ' min');
            } else {
                // Handle the case where time_elapsed_seconds is NaN
                $(this).text('N/A');
            }
        });
    }

    // Call the color update function initially
    updateColorBasedOnTimeElapsed();

    // Update the color every 60 seconds (1 minute)
    setInterval(updateColorBasedOnTimeElapsed, 60000); // 60000 milliseconds = 1 minute
</script>




<!-- Your other scripts can be included here -->
</body>
</html>
