{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pending Lab Tests</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'newborn/blood-sample.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body class="masthead">
<div class="container mt-5">
    <div class="card">
        <div class="card-header bottomnavbar">
            <h1 class="card-title  text-white text-center">Pending Lab Tests for {{ neonate.name }}</h1>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>{{ lab_request.timestamp|date:"Y-m-d H:i" }}</h4>
                    <p>Test Requests:</p>
                    <ul>
                        {% if lab_request.serology_rpr_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='serology_rpr' %}">RPR Test</a></li>
                        {% endif %}
                        {% if lab_request.serology_rct_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='serology_rct' %}">RCT Test</a></li>
                        {% endif %}
                        {% if lab_request.serology_bat_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='serology_bat' %}">BAT Test</a></li>
                        {% endif %}
                        {% if lab_request.microbiology_gram_stain_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='microbiology_gram_stain' %}">Gram Stain Test</a></li>
                        {% endif %}
                        {% if lab_request.microbiology_culture_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='microbiology_culture' %}">Culture Test</a></li>
                        {% endif %}
                        {% if lab_request.chemistry_serum_electrolytes_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='chemistry_serum_electrolytes' %}">Serum Electrolytes Test</a></li>
                        {% endif %}
                        {% if lab_request.chemistry_serum_urea_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='chemistry_serum_urea' %}">Serum Urea Test</a></li>
                        {% endif %}
                        {% if lab_request.chemistry_serum_creatinine_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='chemistry_serum_creatinine' %}">Serum Creatinine Test</a></li>
                        {% endif %}
                        {% if lab_request.chemistry_urinalysis_requested %}
                            <li><a href="{% url 'input-lab-result' neonate_pk=neonate.pk lab_request_pk=lab_request.pk test_name='chemistry_urinalysis' %}">Urinalysis Test</a></li>
                        {% endif %}
                        <!-- Add similar conditional blocks for other test types -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- "Return to Dashboard" button -->
<div class="container mt-3">
    <a href="{% url 'lab-requests-dashboard' %}" class="btn btn-dashboard text-white">Return to Dashboard</a>
</div>

</body>
</html>