{% load static %}
<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
        <title>NICU - {{ title }}</title>
    {% else %}
        <title> NICU </title>
    {% endif %}
</head>
<body>
    <nav class="container navbar navbar-expand-md navbar-light bg-info topnavbar text-light justify-text-center mb-2 mt-3 rounded" style="height: 60px;">
        <div class="container">
            <ul class="ml-5 nav navbar-nav navbar-center">
                <li>
                    <h1 class="text-center">Holy Innocents's Neonatal Admission Unit<h1>
                </li>
            </ul>
        </div>
     </nav>
    <div class="container">
        <div class="card">
            <h5 class="card-header">Details</h5>
                <div class="card-body">
                    <p class="card-text"><b>Name:</b> {{ newborn.name}}</p> 
                    <p class="card-text"><b>Age:</b> {{ newborn.age}}</p>
                    <p class="card-text"><b>Sex:</b> {{ newborn.sex}}</p>
                </div>
        </div>
    <div>
</body>
</html>
