{% extends "newborn/base.html" %}

{% block content %}
  <h1>New Birth Record</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.place_of_birth.label_tag }}
    {{ form.place_of_birth }}
    <div id="health_facility_fields" style="display:none">
      {{ form.name_of_health_facility.label_tag }}
      {{ form.name_of_health_facility }}
      {{ form.location_of_health_facility.label_tag }}
      {{ form.location_of_health_facility }}
    </div>
    {{ form.mode_of_delivery.label_tag }}
    {{ form.mode_of_delivery }}
    <div id="csection_fields" style="display:none">
      {{ form.indication_for_csection.label_tag }}
      {{ form.indication_for_csection }}
      {{ form.time_btn_cs_and_delivery.label_tag }}
      {{ form.time_btn_cs_and_delivery }}
    </div>
    {{ form.resuscitation.label_tag }}
    {{ form.resuscitation }}
    <div id="resuscitation_fields" style="display:none">
      {{ form.length_of_resuscitation.label_tag }}
      {{ form.length_of_resuscitation }}
      {{ form.was_ox_connected.label_tag }}
      {{ form.was_ox_connected }}
    </div>
    {{ form.referral.label_tag }}
    {{ form.referral }}
    <div id="referral_fields" style="display:none">
      {{ form.reason_for_referral.label_tag }}
      {{ form.reason_for_referral }}
      {{ form.date_and_time_of_referral.label_tag }}
      {{ form.date_and_time_of_referral }}
      {{ form.mean_of_transport.label_tag }}
      {{ form.mean_of_transport }}
    </div>
    <br>
    <button type="submit">Save</button>
  </form>
  
  <script type="text/javascript">
    function showHideFields() {
      var placeOfBirth = document.getElementById('id_place_of_birth').value;
      var deliveryMode = document.getElementById('id_mode_of_delivery').value;
      var resuscitation = document.getElementById('id_resuscitation').value;
      var referral = document.getElementById('id_referral').value;

      // show/hide health facility fields
      if (placeOfBirth == 'Health Facility') {
        document.getElementById('health_facility_fields').style.display = 'block';
      } else {
        document.getElementById('health_facility_fields').style.display = 'none';
      }

      // show/hide c-section fields
      if (deliveryMode == 'Ceaserean section') {
        document.getElementById('csection_fields').style.display = 'block';
      } else {
        document.getElementById('csection_fields').style.display = 'none';
      }

      // show/hide resuscitation fields
      if (resuscitation == 'Yes') {
        document.getElementById('resuscitation_fields').style.display = 'block';
      } else {
        document.getElementById('resuscitation_fields').style.display = 'none';
      }

      // show/hide referral fields
      if (referral == 'Yes') {
        document.getElementById('referral_fields').style.display = 'block';
      } else {
        document.getElementById('referral_fields').style.display = 'none';
      }
    }
  </script>
{% endblock %}
