<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mother Detail Form</title>
    {% load crispy_forms_tags %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <form method="POST">
        {% csrf_token %}
        {%  form|crispy %}
        <button type="submit">Submit</button>
      </form>
    </div>
    <script>
      $(document).ready(function() {
        // Hide name_of_health_facility and location_of_health_facility initially
        $('#id_place_of_birth').change(function() {
          if ($(this).val() == 'Health Facility') {
            $('#div_id_name_of_health_facility').show();
            $('#div_id_location_of_health_facility').show();
          } else {
            $('#div_id_name_of_health_facility').hide();
            $('#div_id_location_of_health_facility').hide();
          }
        });

        // Hide indication_for_csection and time_btn_cs_and_delivery initially
        $('#id_mode_of_delivery').change(function() {
          if ($(this).val() == 'Ceaserean section') {
            $('#div_id_indication_for_csection').show();
            $('#div_id_time_btn_cs_and_delivery').show();
          } else {
            $('#div_id_indication_for_csection').hide();
            $('#div_id_time_btn_cs_and_delivery').hide();
          }
        });

        // Hide length_of_resuscitation and was_ox_connected initially
        $('#id_resuscitation').change(function() {
          if ($(this).val() == 'Yes') {
            $('#div_id_length_of_resuscitation').show();
            $('#div_id_was_ox_connected').show();
          } else {
            $('#div_id_length_of_resuscitation').hide();
            $('#div_id_was_ox_connected').hide();
          }
        });

        // Hide reason_for_referral, date_and_time_of_referral, and mean_of_transport initially
        $('#id_referral').change(function() {
          if ($(this).val() == 'Yes') {
            $('#div_id_reason_for_referral').show();
            $('#div_id_date_and_time_of_referral').show();
            $('#div_id_mean_of_transport').show();
          } else {
            $('#div_id_reason_for_referral').hide();
            $('#div_id_date_and_time_of_referral').hide();
            $('#div_id_mean_of_transport').hide();
          }
        });
      });
    </script>
  </body>
</html>

