<!DOCTYPE html>
<html lang="en">
     <head>
       <meta charset="utf-8">
       <title>Mother Detail Form</title>
       {% load crispy_forms_tags %}
       {% load bootstrap4 %}
       {% bootstrap_css %}
       {% bootstrap_javascript jquery='full' %}
       {{ form.media }}
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     </head>
 <body>
   <div class="container">
	<form method="POST">
  		{% csrf_token %}
        {% bootstrap_form form %}
  		<button type="submit">Submit</button>
	</form>
   </div>
<script>
$(document).ready(function() {
  // Hide name_of_health_facility and location_of_health_facility initially
  $('place_of_birth').change(function() {
    if ($(this).val() == 'Health Facility') {
      $('name_of_health_facility').show();
      $('location_of_health_facility').show();
    } else {
      $('name_of_health_facility').hide();
      $('location_of_health_facility').hide();
    }
  });

  // Hide indication_for_csection and time_btn_cs_and_delivery initially
  $('mode_of_delivery').change(function() {
    if ($(this).val() == 'Ceaserean section') {
      $('indication_for_csection').show();
      $('time_btn_cs_and_delivery').show();
    } else {
      $('indication_for_csection').hide();
      $('time_btn_cs_and_delivery').hide();
    }
  });

  // Hide length_of_resuscitation and was_ox_connected initially
  $('resuscitation').change(function() {
    if ($(this).val() == 'Yes') {
      $('length_of_resuscitation').show();
      $('was_ox_connected').show();
    } else {
      $('length_of_resuscitation').hide();
      $('was_ox_connected').hide();
    }
  });

  // Hide reason_for_referral, date_and_time_of_referral, and mean_of_transport initially
  $('referral').change(function() {
	if ($(this).val() == 'Yes') {
		$('reason_for_referral').show();
		$('date_and_time_of_referral').show();
		$('mean_of_transport').show();
	} else {
		$('reason_for_referral').hide();
		$('date_and_time_of_referral').hide();
		$('mean_of_transport').hide();
	}
  });
});
</script>
</body>
</html>

