<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<html lang="en">
     <head>
       <meta charset="utf-8">
       
          <title>Mother Detail Form</title>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     </head>
 <body>
   <div class="container">
	<form method="POST">
  		{% csrf_token %}
        {% bootstrap_form form %}
  		<button type="submit">Submit</button>
	</form>
   </div>
<script>
$(document).ready(function() {
  // Hide name_of_health_facility and location_of_health_facility initially
  $('#id_name_of_health_facility').hide();
  $('#id_location_of_health_facility').hide();

  // Show name_of_health_facility and location_of_health_facility if place_of_birth is Health Facility
  $('#place_of_birth').change(function() {
    if ($(this).val() == 'Health Facility') {
      $('#id_name_of_health_facility').show();
      $('#id_location_of_health_facility').show();
    } else {
      $('#id_name_of_health_facility').hide();
      $('#id_location_of_health_facility').hide();
    }
  });

  // Hide indication_for_csection and time_btn_cs_and_delivery initially
  $('#id_indication_for_csection').hide();
  $('#id_time_btn_cs_and_delivery').hide();

  // Show indication_for_csection and time_btn_cs_and_delivery if mode_of_delivery is Ceaserean section
  $('#mode_of_delivery').change(function() {
    if ($(this).val() == 'Ceaserean section') {
      $('#id_indication_for_csection').show();
      $('#id_time_btn_cs_and_delivery').show();
    } else {
      $('#id_indication_for_csection').hide();
      $('#id_time_btn_cs_and_delivery').hide();
    }
  });

  // Hide length_of_resuscitation and was_ox_connected initially
  $('#id_length_of_resuscitation').hide();
  $('#id_was_ox_connected').hide();

  // Show length_of_resuscitation and was_ox_connected if resuscitation is Yes
  $('#resuscitation').change(function() {
    if ($(this).val() == 'Yes') {
      $('#id_length_of_resuscitation').show();
      $('#id_was_ox_connected').show();
    } else {
      $('#id_length_of_resuscitation').hide();
      $('#id_was_ox_connected').hide();
    }
  });

  // Hide reason_for_referral, date_and_time_of_referral, and mean_of_transport initially
  $('#id_reason_for_referral').hide();
  $('#id_date_and_time_of_referral').hide();
  $('#id_mean_of_transport').hide();

  // Show reason_for_referral, date_and_time_of_referral, and mean_of_transport if referral is Yes
  $('#referral').change(function() {
	if ($(this).val() == 'Yes') {
		$('#id_reason_for_referral').show();
		$('#id_date_and_time_of_referral').show();
		$('#id_mean_of_transport').show();
	} else {
		$('#id_reason_for_referral').hide();
		$('#id_date_and_time_of_referral').hide();
		$('#id_mean_of_transport').hide();
	}
  });
</script>

</body>
</html>
