{% extends "newborn/base.html" %}

{% block content %}
  <form method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.place_of_birth.id_for_label }}" class="col-sm-2 control-label">Place of birth</label>
      <div class="col-sm-10">
        {{ form.place_of_birth }}
      </div>
    </div>
    {% if form.place_of_birth.value == 'Health facility' %}
      <div class="form-group">
        <label for="{{ form.name_of_health_facility.id_for_label }}" class="col-sm-2 control-label">Name of health facility</label>
        <div class="col-sm-10">
          {{ form.name_of_health_facility }}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.location_of_health_facility.id_for_label }}" class="col-sm-2 control-label">Location of health facility</label>
        <div class="col-sm-10">
          {{ form.location_of_health_facility }}
        </div>
      </div>
    {% endif %}
    <div class="form-group">
      <label for="{{ form.mode_of_delivery.id_for_label }}" class="col-sm-2 control-label">Mode of delivery</label>
      <div class="col-sm-10">
        {{ form.mode_of_delivery }}
      </div>
    </div>
    {% if form.mode_of_delivery.value == 'C/s' %}
      <div class="form-group">
        <label for="{{ form.indication_for_csection.id_for_label }}" class="col-sm-2 control-label">Indication for C/s</label>
        <div class="col-sm-10">
          {{ form.indication_for_csection }}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.time_btn_cs_and_delivery.id_for_label }}" class="col-sm-2 control-label">Time between C/s and delivery</label>
        <div class="col-sm-10">
          {{ form.time_btn_cs_and_delivery }}
        </div>
      </div>
    {% endif %}
    <div class="form-group">
      <label for="{{ form.resuscitation.id_for_label }}" class="col-sm-2 control-label">Resuscitation</label>
      <div class="col-sm-10">
        {{ form.resuscitation }}
      </div>
    </div>
    {% if form.resuscitation.value == 'Yes' %}
      <div class="form-group">
        <label for="{{ form.length_of_resuscitation.id_for_label }}" class="col-sm-2 control-label">How long</label>
        <div class="col-sm-10">
          {{ form.length_of_resuscitation }}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.was_ox_connected.id_for_label }}" class="col-sm-2 control-label">Was O2 connected</label>
        <div class="col-sm-10">
          {{ form.was_ox_connected }}
        </div>
      </div>
    {% endif %}
    <div class="form-group">
      <label for="{{ form.referral.id_for_label }}" class="col-sm-2 control-label">Referral</label>
      <div class="col-sm-10">
        {{ form.referral }}
      </div>
    </div>
    {% if form.referral.value == 'Yes' %}
      <div class="form-group">
        <label for="{{ form.referral.id_for_label }}">Reason for Referral:</label>
{{ form.reason_for_referral }}
</div>
<div class="form-group">
<label for="{{ form.date_and_time_of_referral.id_for_label }}">Date and Time for Referral:</label>
{{ form.date_and_time_of_referral }}
</div>
<div class="form-group">
<label for="{{ form.mean_of_transport.id_for_label }}">Means of Transport:</label>
{{ form.mean_of_transport }}
</div>
{% endif %}

{% endblock %}
