<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello</title>
<body>
	<div class="container">
		<h3> Newborn Record</h3>
		<form class="" method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				{% bootstrap_form form %}
			</fieldset>
			<div class="form-group">
			 <button type="submit" class="btn btn-info">Submit</button>
			</div>
		</form>
	</div>

</body>
</html>
