<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your HTML head content here -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Lab Requests for Patient {{ lab_request.neonate.name }} ({{ lab_request.neonate.pk }})</h1>
    {% if lab_tests %}
        <p>Click on a specific lab test to enter its result:</p>
        <ul class="list-group">
            {% for lab_test in lab_tests %}
                <li class="list-group-item">
                    <a href="{% url 'lab_request_details' patient_pk=lab_request.neonate.pk %}?test={{ lab_test }}" class="btn btn-link">
                        {{ lab_test }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'lab-requests-dashboard' %}" class="btn btn-primary mt-3">Back to Dashboard</a>
        {% if requested_test %}
            {% if result_form %}
                <form method="post" action="{% url 'lab_request_details' patient_pk=lab_request.neonate.pk %}?test={{ requested_test }}" class="mt-3">
                    {% csrf_token %}
                    <h3>{{ requested_test }} Result:</h3>
                    {{ result_form.non_field_errors }}
                    {% for field in result_form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Save {{ requested_test }} Result</button>
                </form>
            {% else %}
                <p>No pending test available for update.</p>
            {% endif %}
        {% else %}
            <p>No specific test selected.</p>
        {% endif %}
    {% else %}
        <p>No pending test available for update.</p>
    {% endif %}
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function editResult(labRequestId, fieldName) {
        const form = document.getElementById(`form-${fieldName}-${labRequestId}`);
        const resultSpan = form.previousElementSibling;
        resultSpan.classList.add('d-none');
        form.classList.remove('d-none');
    }
</script>

</body>
</html>
