<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Lab Requests Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Neonates with Pending Lab Results</h1>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Date Requested</th>
            <th>Name</th>
            <th>Pk</th>
            <th>Sex</th>
            <th>Age (Days)</th>
            <th>Time Elapsed</th>
            <th>No. of Tests</th>
	    <th>Add Results</th>
        </tr>
        </thead>

        <tbody>
        {% for neonate in neonates_with_pending_results %}
            <tr>
                <td>{{ neonate.labrequest.timestamp|date:"Y-m-d H:i" }}</td>
                <td>{{ neonate.name }}</td>
                <td>{{ neonate.pk }}</td>
                <td>{{ neonate.sex }}</td>
                <td>{{ neonate.age_days }}</td>
                <td>{{ neonate.time_elapsed|timesince }}</td>
                <td>{{ neonate.num_tests_requested }}</td>
                <td>
                    <a href="{% url 'input_lab_results' neonate_pk=neonate.pk lab_request_pk=neonate.labrequest.pk %}" class="btn btn-primary">Input Results</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Optional JavaScript; choose one of the two! -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
