<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello</title>
<body>
	<div class="container mt-4">
		<div class="card">
    		<div class="card-header">
        		<h4>Lab Investigations</h4>
    		</div>
			<form class="" method="POST">
		 		{% csrf_token %}
		
    <div class="card-body">
        <!-- Serology Sub-cardboard -->
        <div class="card">
            <div class="card-header">
                <h5>Serology</h5>
            </div>
            <div class="card-body">
                {% for choice in form.serology %}
                <div class="form-check">
                    {{ choice }}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Microbiology Sub-cardboard -->
        <div class="card mt-3">
            <div class="card-header">
                <h5>Microbiology</h5>
            </div>
            <div class="card-body">
                {% for choice in form.microbiology %}
                <div class="form-check">
                    {{ choice }}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Chemistry Sub-cardboard -->
        <div class="card mt-3">
            <div class="card-header">
                <h5>Chemistry</h5>
            </div>
            <div class="card-body">
                {% for choice in form.chemistry %}
                <div class="form-check">
                    {{ choice }}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Hematology Sub-cardboard -->
        <div class="card mt-3">
            <div class="card-header">
                <h5>Hematology</h5>
            </div>
            <div class="card-body">
                {% for choice in form.hematology %}
                <div class="form-check">
                    {{ choice }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
			<div class="form-group">
			 <button type="submit" class="btn btn-info">Submit</button>
			</div>
		</form>
        </div>
	</div>

</body>
</html>
