{% extends 'newborn/base3.html' %}
{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white">
            Latest Admissions
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sex</th>
                        <th>Birth Weight</th>
                        <th>Delivery Date</th>
                        <th>Age</th>
                        <th>Referred In</th>
                        <th>Mother</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admission in table %}
                    <tr>
                        <td>{{ admission.name }}</td>
                        <td>{{ admission.sex }}</td>
                        <td>{{ admission.birth_weight }}</td>
                        <td>{{ admission.delivery_date }}</td>
                        <td>{{ age_days }}</td>
                        <td>{{ admission.referred_in }}</td>
                        <td>{{ admission.mother }}</td>
                        <td><a href="{% url 'clerkship-page' pk=admission.id %}">Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}