<!DOCTYPE html>
{% load bootstrap5 %}
{{ form.media }}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Password Reset</title>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    		<script src="{% static 'jquery/jquery.min.js' %}"></script>
    		<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script></head>
	<body>
		<div class="container p-3 my-3  border rounded">
			<div class="alert alert-info">
        Your password has been reset.
			</div>
			<a href="{% url 'login' %}">Sign In Here</a>
		</div>
	</body>
</html>
