{% load static %}
<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{{ form.media }}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light topnavbar  text-light justify-text-center" style="height: 50px;">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav">
                    <li>
                        <h3><b>User Registration</b></h3>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <!-- Messages from the view -->
        <div class="container mt-3">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger text-light">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }} text-light">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="container p-3 my-2 border rounded custom-text-color-background">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4 text-center">Join Today</legend>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Personal Information</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form.first_name.label_tag }}
                                            {{ form.first_name }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.last_name.label_tag }}
                                            {{ form.last_name }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.nin_no.label_tag }}
                                            {{ form.nin_no }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.contact.label_tag }}
                                            {{ form.contact }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Account Information</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form.username.label_tag }}
                                            {{ form.username }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.email.label_tag }}
                                            {{ form.email }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.group.label_tag }}
                                            {{ form.group }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-dashboard text-white mb-2" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
